<!-- Nav -->
<div class="container">

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand">CRUD APP</a>

      <button class="btn btn-outline-light" (click)="onAdd()" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>

  </div>
</nav>
</div>

<!-- Table -->
<div class="text-center container">

  <table class="table my-4">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data1; let i = index">
      <th>{{i+1}}</th>
      <th scope="row">{{item.name}}</th>
      <td>{{item.age}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.phone}}</td>
      <td>
        <button (click)="edit(item)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary">Edit</button>
        <button (click)="delete(item)" type="button" class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Enter Employee Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form (ngSubmit)="sendData()"  id="form">
          <div class="form-group">
            <label for="exampleInputname1">Name</label>
            <input type="text" class="form-control"  placeholder="Enter name" name="name" [(ngModel)]="name">
          </div>
          <div class="form-group my-3">
            <label for="exampleInputage1">age</label>
            <input type="text" class="form-control"  placeholder="age" name="age" [(ngModel)]="age">
          </div>
          Gender:
          <div class="form-check my-3">
            <input class="form-check-input" type="radio" value="Male" id="flexRadioDefault1" name="gender" [(ngModel)]="gender">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check my-3">
            <input class="form-check-input" type="radio" value="Female" id="flexRadioDefault2" name="gender" [(ngModel)]="gender">
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>

          <div class="form-group my-3">
            <label for="exampleInputage1">phone</label>
            <input type="text" class="form-control"  placeholder="phone" name="phone" [(ngModel)]="phone">
          </div>
          <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" *ngIf="showadd"  class="btn btn-dark">Add</button>
            <button type="button" *ngIf="showupd" (click)="update()" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
